.template__contact {
    position: absolute;
    bottom: 83px;
    right: 109px;
    width: 448px;
    height: 214px;
    background: #EDF2EC;
    border: 1px solid #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    box-sizing: border-box;
}

@media screen and (max-width:1230px) {
    .template__contact {
        width: 448px;
        height: 214px;
        bottom: 262px;
        right: 50%;
        transform: translate(50%, 0);
        margin: 0 auto;
    }
}

@media screen and (max-width:767px) {
    .template__contact {
        width: 282px;
        height: 212px;
        bottom: 33px;
        right: 50%;
        transform: translate(50%, 0);
        
    }
}
