.about__wrapper {
    width: 605px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (max-width:768px) {
    .about__wrapper {
        width: 668px;
    }
}

@media screen and (max-width:767px) {
    .about__wrapper {
        max-width: 330px;
    }
}