.contacts__cities {
    margin: 0;
    padding: 0 35px;
    list-style: none;
    background: #DCE9D9;
    max-width: 450px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    visibility: hidden;
    
}

.contacts__cities-active {
    position: relative;
    visibility: visible;
    z-index: 3;
}

