.footer__rs {
    margin: 0;
    text-decoration: none;
    color: black;
}

@media screen and (max-width:768px) {
    .footer__rs {
        margin: 16px 0 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }
}