.call {
    width: 122px;
    height: 26px;
    border: 1px solid #E06733;
    border-radius: 5px;
    margin: 0 auto 32px;
    cursor: pointer;
}

@media screen and (max-width:1230px) {
    .call {
        margin-bottom: 32px;
    }
}

@media screen and (max-width:767px) {
    .call {
        margin-bottom: 23px;
    }
}