.prices__wrapper {
    /* max-width: 1222px; */
    width: 84%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

/* @media screen and (max-width:768px) {
    .prices__wrapper {
        max-width: 668px;
    }
} */