.service__card {
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .elements__element {
        align-self: center;
    }
}

.blure {
    filter: blur(2px);
}


