.header__link {
    text-decoration: none;
    font-family: 'Inika', serif;
    font-size: 16px;
    line-height: 50px;
    font-weight: 400;
    color: #010201;
    transition: opacity .5s ease-in-out;
    scroll-behavior: smooth;
}

@media screen and (max-width:768px) {
    .header__link {
        font-weight: 700;
    }
}

.header__link:hover {
    opacity: .6;
}
