.ul__title {
    list-style: none;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    margin: 0;
}

@media screen and (max-width:1230px) {
    .ul__title {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        line-height: 40px;
    }
}

@media screen and (max-width:767px) {
    .ul__title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        letter-spacing: 0.05em;
        line-height: 20px;
    }
}