.service__title {
    max-width: 306px;
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    font-family: 'Inika', serif;
}

@media screen and (max-width:768px) {
    .service__title {
        font-size: 35px;
        line-height: 46px;
    }
}