.prices__button {
    width: 162px;
    height: 50px;
    margin-top: 38px;
    border: 1px solid #E06733;
    border-radius: 5px;
    background: none;
    color: #E06733;
    font-family: 'Inika', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .prices__button {
        width: 121px;
        margin: 13px auto 0;
        padding: 0 22px;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
    }
}