@media screen and (max-width:1230px) {
    .contacts__image {
        width: 200px;
        order: 3;
        object-position: bottom;
        object-fit: contain;
    }
}

@media screen and (max-width:767px) {
    .contacts__image {
        width: 100px;
    }
}