.ul__container {
    width: 339px;
    display: flex;
    justify-content: space-between;
    margin: 17px 33px 24px;
}

@media screen and (max-width:1230px) {
    .ul__container {
        margin: 17px auto 24px;
    }
}

@media screen and (max-width:767px) {
    .ul__container {
        width: 210px;
        margin: 23px auto 17px;
    }
}