.about {
    width: 100%;
    background-color: #fff;
    padding: 93px 0 94px;
}

.about__container {
    max-width: 1222px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.about__image {
    max-width: 464px;
}

.about__wrapper {
    max-width: 605px;
    width: 605px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    font-family: 'Inika', serif;
    color: #E06733;
}

.about__title-green {
    color: #499A18;
}

.about__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}