.prices__title {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media screen and (max-width:768px) {
    .prices__title {
        font-size: 35px;
        line-height: 42px;
    }
}

@media screen and (max-width:767px) {
    .prices__title {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        width: 90px;
        margin: 0 auto;
    }
}