.service__grid {
    max-width: 1222px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(329px, 1fr));
    gap: 55px 116px;
    list-style: none;
}

@media screen and (max-width:768px) {
    .service__grid {
        max-width: 668px;
        margin: 40px auto 0;
        grid-template-columns: repeat(auto-fill, minmax(281px, 1fr));
        gap: 38px 106px;
    }
}

@media screen and (max-width:767px) {
    .service__grid {
        max-width: 280px;
        margin: 40px auto 0;
        grid-template-columns: repeat(auto-fill, minmax(281px, 1fr));
        gap: 38px 106px;
    }
}
