.contacts__container {
    width: 84%;
    margin: 0 auto;
    padding-top: 53px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:1230px) {
    .contacts__container {
        height: 739px;
        padding-top: 40px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width:767px) {
    .contacts__container {
        height: 445px;
        padding-top: 25px;
    }
}