.header__nav {
    width: 84%;
    padding: 42px 0 62px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .header__nav {
        padding: 35px 0;
    }
}
