.footer__github {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    transition: opacity .5s ease-in-out;
}

.footer__github:hover {
    opacity: .6;
}
