.footer__content {
    /* max-width: 1222px; */
    width: 84%;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .footer__content {
        max-width: 210px;
        padding: 0;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }
}